<html>
<head>
    <title>rTaichi</title>
    <meta charset="utf-8"></meta>
    <link href="/static/mdui.min.css" rel="stylesheet">
</head>

<body>

    <script src="/static/mdui.min.js"></script>
    <script src="/static/jquery.min.js"></script>

    <h1>rTaichi</h1>
    <hr/>

    <canvas id="canvas">
        <p>Your browser doesn't support HTML5 canvas.</p>
        <p>Consider restart with mordern browsers like Chrome or Firefox.</p>
    </canvas>

    <br/>
    <b><span id="fps">--</span> FPS</b>
    <button id="close">Close</button>

    <script src="/static/index.js"></script>
</body>
</html>
